h1 {
	font-family: arial, verdana, sans-serif;
	font-size: 100px;
	font-weight: normal;
	font-variant: small-caps;
	font-style: italic;
	/*urutan property font = font-style,font-variant,font-weight,font-size,line-weight,font-family*/
	/*property optional = a,b,c,e*/
}

p {
	font-family: georgia, sans-serif;
	line-height: 50px
}